.main-about_out {
    margin-top: 7.1875rem;
    padding-bottom: 5rem;
}

.main-about_container {
    display: flex;
    max-width: 1170px;
    padding: 0 2rem;
    margin: 0 auto;
}


.main-about__name {
    max-width: 410px;
    margin-left: 10.625rem;
    margin-top: 1.5rem;
}

.main-about__title {
    font-family: "OpenSansLight";
    font-size: 2.125rem;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    margin-bottom: 1.875rem;
}

.main-about__title span {
    font-family: "OpenSansBold", sans-serif;
}

.main-about__title::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    background-color: #fcac45;
    height: 3px;
}

.main-about__desc {
    line-height: 1.2;
    margin-bottom: 2.5rem;
    font-size: 1.025rem;
    color: #ababab;
}

.main-about__list li {
    background: url("../images/ul.png") left no-repeat;
    padding-left: 1.4375rem;
    margin-top: 0.895rem;
    font-style: italic;
}

.main-about__list li span {
    font-family: "OpenSansBold";
    
}

