.header {
  background-color: #000;
  padding-top: 3.125rem;
}

.header__container {
  padding: 0 1.25rem 13.125rem 1.25rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-items: center;
  height: 100%; */
}

/*  header title logo */

.header__title a {
  color: #ffffff;
  font-family: "OpenSansBold", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* header menu desktop */

.nav__list {
  display: flex;
}

.nav__list > .list__item {
  margin-right: 1.5625rem;
}

.nav__list > .list__item:last-child {
  margin-right: 0;
}

.list__link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: "OpenSansBold", sans-serif;
  position: relative;
}

.list__link::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  height: 3px;
  background-color: #fcac45;
  width: 0;
  transition: 0.2s;
}

.list__link:hover::after {
  width: 100%;
  transition: 0.2s;
}

/* header content main title */

.header__content {
  text-align: center;
}

.header__welcome {
  text-transform: uppercase;
  font-family: "OpenSansLight", sans-serif;
  font-size: 2.75rem;
}

.header__welcome span {
  font-family: "OpenSansBold", sans-serif;
  color: #fcac45;
}

.header__desc {
  padding-top: 1.125rem;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 1.25rem;
  color: #d4d4d4;
  padding-bottom: 20.25rem;
}

.header__desc span {
  color: #aeaeae;
  font-family: "OpenSansBold", sans-serif;
  margin-bottom: 26.25rem;
}
