.team-bg {
    background-color: #000000;
}

.team__title {
    position: relative;
    padding-top: 6.125rem;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "OpenSansBold", sans-serif;
    font-size: 2.75rem;
    padding-bottom: 1.875rem;
}

.team__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
    width: 100px;
    display: block;
    background-color: #fcac45;
}


/* card  */


.team__card {
    margin: 5rem auto 0 auto;
    padding-bottom: 9.375rem;
    max-width: 1200px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    max-width: 270px;
}

.card__name {
    padding-top: 20px;
    padding-bottom: 0.5rem;
    font-family: "OpenSansBold";
    font-size: 1.25rem;
    text-transform: capitalize;
}

.card__prof {
    padding-bottom: 1.875rem;
    text-transform: capitalize;
}

.card__desc {
    max-width: 290px;
    text-align: center;
    font-size: 0.895rem;
    line-height: 1.6;
}

